
body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #545454;
}
#sec-modern{
	background-image: url( ../img/bg-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 100px 0 160px;
	color: #FFFFFF;
	text-align: center;
	
}
.btn{
	padding: 8px 40px;
	background-color: #0079B4
	
		
}
.btn2 {
	padding: 8px 40px;
	background-color: transparent;
	border: 1px solid #FFFFFF;
	
	}

#sec-restaurant{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 100px 0 100px;
	text-align: center;
	background-color: #F2F2F2;
	
}

#sec-work{
background-size: cover;
background-repeat: no-repeat;
	background-position: center;
	padding: 100px 0 100px;
	text-align: center;
		
	}

#carouselExampleIndicators{
	text-align: center;
	background-color: #f2f2f2;
		padding: 100px 0 100px;
	
}
.d-block{
	height: 125px;
		border-radius: 60px;
	align-content: center;
	margin-left: 50%
	
	
	
	
	
}


	
